.rowMenuCard {
  width: 80px;
  min-width: 80px;
  height: 100px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  cursor: pointer;
  margin-right: 12px;
}
.rowMenuCard:hover,
.rowMenuCard.active {
  background: #f8901c;
}
.rowMenuCard .imgBox {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 100vw;
  padding: 2px;
  background: #f8901c;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
}
.rowMenuCard:hover.imgBox,
.rowMenuCard.active .imgBox {
  background: #fff;
}
.rowMenuCard .imgBox img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.rowMenuCard:hover.imgBox img,
.rowMenuCard.active .imgBox img {
  width: 80%;
  height: 80%;
  transition: 0.5s;
}
.rowMenuCard h3 {
  color: #f8901c;
  font-size: 14px;
  font-weight: 500;
  transition: 0.5s;
}
.rowMenuCard:hover h3,
.rowMenuCard.active h3 {
  color: #faf9fb;
}
.rowMenuCard .loadMenu {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #f8901c;
  transition: 0.5s;
}
.rowMenuCard:hover .loadMenu,
.rowMenuCard.active .loadMenu {
  background: #faf9fb;
}
.rowMenuCard .loadMenu .MuiSvgIcon-root {
  font-size: 18px;
  color: #faf9fb;
}
.rowMenuCard:hover .loadMenu .MuiSvgIcon-root,
.rowMenuCard.active .loadMenu .MuiSvgIcon-root {
  color: #f8901c;
}
