.App {
  width: 100vw;
  height: 100vh;
  background: #faf9fb;
  overflow-x: hidden;
}

.App::-webkit-scrollbar {
  display: none;
}

/* Main Section */
main {
  width: 100%;
  height: auto;
  margin-top: 60px;
}
/* Footer Section  Start*/
.bottomMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: #d5d5d5;
  border-radius: 25px 25px 0 0;
  z-index: 101;
}
.bottomMenu ul {
  display: flex;
}
.bottomMenu ul li {
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 1;
}
.bottomMenu ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
}
.bottomMenu ul li a .icon {
  position: relative;
  display: block;
  line-height: 70px;
  text-align: center;
  transition: 0.5s;
}
.bottomMenu ul li a .icon .MuiSvgIcon-root {
  font-size: 26px;
  color: #373837;
}
.bottomMenu ul li.active a .icon {
  transform: translateY(-26px);
}
.bottomMenu ul li.active a .icon .MuiSvgIcon-root {
  color: #faf9fb;
  transition: 0.5s;
}
.indicator {
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: #f8901c;
  border-radius: 100vw;
  top: -50%;
  border: 6px solid #faf9fb;
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  width: 18px;
  height: 18px;
  background: transparent;
  border-top-right-radius: 18px;
  box-shadow: 0px -10px 0 0 #faf9fb;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  width: 18px;
  height: 18px;
  background: transparent;
  border-top-left-radius: 18px;
  box-shadow: 0px -10px 0 0 #faf9fb;
}
.bottomMenu ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(60px * 0));
}
.bottomMenu ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(60px * 1));
}
.bottomMenu ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(60px * 2));
}
.bottomMenu ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(60px * 3));
}

.bottomMenu ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(60px * 4));
}

.bottomMenu ul li:nth-child(6).active ~ .indicator {
  transform: translateX(calc(60px * 5));
}
/* Footer Section  End*/
/* Banner Start */
.mainContainer {
  width: 100%;
  height: auto;
  background: #faf9fb;
  padding: 10px;
  padding-bottom: 100px;
}
.banner {
  width: 100%;
  height: 130px;
  border-radius: 10px;
  background: url("https://firebasestorage.googleapis.com/v0/b/food-delivery-37c59.appspot.com/o/Images%2Fbanner.png?alt=media&token=7e244d84-8821-477d-b273-4c9381a474fb")
    no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
.deliveryPic {
  position: absolute;
  right: -60px;
  bottom: -10px;
  width: 240px;
}
/* Banner End */
.dishContainer {
  width: 100%;
  padding: 10px 0;
}
.menuCard {
  width: 100%;
}
/* rowContainer */
.rowContainer {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 10px 0;
  padding: 10px 0;
}
.rowContainer::-webkit-scrollbar {
  display: none;
}
/* dishContainer */
.dishContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
/* rightMenu */
.rightMenu {
  width: 350px;
  height: calc(100% - 60px);
  background: #fff;
  position: fixed;
  right: 0;
  top: 60px;
  z-index: 105;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  transform: translateX(200%);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px 3px rgba(0, 0, 0, 0.1);
}
.rightMenu.active {
  transform: translateX(0%);
}

.debitCardContainer {
  padding: 10px;
  width: 100%;
  height: auto;
}
.debitCard {
  position: relative;
  width: 100%;
  height: 170px;
  min-width: 300px;
  min-height: 170px;
  border-radius: 15px;
}
.debitCard::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f8901c;
  transform: rotate(5deg);
  border-radius: 15px;
  filter: blur(2px);
  z-index: -2;
}

.debitCard::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    35deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(10px);
  z-index: -1;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 15px;
}
/* cartCheckoutContainer */
.cart_container {
  width: 100%;
  min-height: 250xp;
  max-height: 280px;
  margin-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.cart_container::-webkit-scrollbar {
  display: none;
}
/* totalSection */
.totalSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 8px;
  margin: 15px 0;
}
.totalSection h3 {
  font-size: 18px;
  font-weight: 600;
  color: #2a2b2c;
}
.totalSection p {
  font-size: 18px;
  font-weight: 600;
  color: #2a2b2c;
}
.totalSection span {
  font-size: 14px;
  color: #f8901c;
}
.checkOut {
  outline: none;
  border: 0;
  width: 100%;
  padding: 10px 20px;
  background: #f8901c;
  border-radius: 100vw;
  color: #faf9fb;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

@media screen and (min-width: 650px) {
  .rowContainer {
    justify-content: space-between;
  }

  .inputBox {
    width: 60%;
  }
}

@media screen and (min-width: 950px) {
  .toggleMenu {
    display: none;
  }

  .profileContainer .userName {
    display: block;
  }

  .leftMenu {
    left: 21%;
    width: 40%;
  }

  .mainContainer {
    width: calc(100% - 350px);
  }
  .banner {
    height: 160px;
  }

  .deliveryPic {
    bottom: -13px;
    width: 278px;
  }

  .bannerContent h3 {
    font-size: 24px;
  }

  .bannerContent p {
    font-size: 15px;
    margin: 12px 0;
    width: unset;
  }

  .bannerContent a {
    font-size: 16px;
  }

  main {
    display: flex;
  }
  .mainContainer {
    padding: 10px 30px;
  }
  .rightMenu {
    position: fixed;
    z-index: 1;
    transform: translateX(0%);
    top: unset;
    padding: 20px 15px;
  }
  .itemCard {
    width: 180px;
    height: 200px;
  }
}
